/*=========================================================
                        VARIABLES
===========================================================*/
:root{
    --bg-white: #ffffff;
    --bg-black: #1D1C1D;
    --bg-black-firstChildren: #36342f;
    --bg-black-firstChildren-opacity:#414141;
    --bg-primario: #EE1D3A;
    --bg-secundario: #FF3753;
    --font-parrafo: 'Raleway', sans-serif;
    --font-principal: 'Montserrat', sans-serif;
}
/*=========================================================
                        RESET-GLOBAL
===========================================================*/
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    font-family: var(--font-principal);
}
.contenedor{
    width: min(95%, 120rem);
    margin: 0 auto;
}
img{
    max-width: 100%;
    object-fit: cover;
}
/*=========================================================
                        HEADING
===========================================================*/
h2{
    font-size: 2.45rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    color: var(--bg-black-firstChildren-opacity);
    padding-bottom: 1.5rem;
    position: relative;
    margin-bottom: 1rem;
}
h2::after{
    content: "";
    display: block;
    position: absolute;
    width: 15%;
    height: 2.5px;
    bottom: 0px;
    left: 40%;
    top: calc(100% + -10px);
    background-color: #ffc400;
    transition: all .4s;
}
@media(min-width:576px){
    h2::after{
        left: 43%;
        width: 12%;
    }
}
@media(min-width:768px){
    h2{
        font-size: 3rem;
    }
    h2::after{
        left: 45%;
        width: 10%;
    }
}
@media(min-width:1200px){
    h2::after{
        left: 45%;
        width: 8%;
    }
}
h3{
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    padding: 0.3rem 0;
    color: var(--bg-black-firstChildren-opacity);
}
@media(min-width:768px){
    h3{
        font-size: 1.5rem;
        grid-column: 1 / 3;
    }
}
p{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--bg-black-firstChildren-opacity);
    text-align: justify;
}
/*=========================================================
                        UTILIDADES
===========================================================*/
.m-0{
    margin: 0;
}
.p-0{
    padding: 0;
}
/*====================
-> NAV
======================*/
.nav{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    top: 0;
    background-color: var(--bg-secundario);
}
/*====================
-> LOGO
======================*/
.logo{
    grid-column: 2 / 3;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-secundario);
}
.logo__imagen{
    width: 10vw;
    z-index: 1;
    cursor: pointer;
}
@media(min-width:576px){
    .logo__imagen{
        width: 5rem;
    }
}
@media(min-width:992px){
    .nav{
        background-color: transparent;
    }
    .logo{
        grid-column:  1 / 2;
        position: relative;
        padding-left: 1rem;
        justify-content: flex-start;
        background-color: transparent;
    }
    .logo__imagen{
        padding: 0.3rem;
        animation-duration: 5s;
        animation-name: animateLogo;
        animation-iteration-count: 1;
    }
    @keyframes animateLogo{
        from {
            -webkit-transform: rotate(0deg);
            transform: rotateY(0deg);
        }
        50%{
            -webkit-transform: rotate(180deg);
            transform: rotateY(180deg);
        }to {
            -webkit-transform: rotate(360deg);
            transform: rotateY(360deg);
            }
    }
}
/*====================
-> BOTÓN MENÚ
======================*/
.menu{
    grid-column: 3 / 4;
    text-transform: uppercase;
    font-weight: 300;
    color: var(--bg-white);
    background-color: var(--bg-secundario);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
    z-index: 2;
}
.menu i{
    font-size: 3rem;
}
@media(min-width:992px){
    .menu{
        display: none;
    }
}
/*====================
-> MENÚ
======================*/
.men{
    position: fixed;
    width: 85%;
    height: 100vh;
    background-color: var(--bg-white);
    top: 0;
    box-shadow: inset -8px -5px 11px -5px rgb(0 0 0 / 60%);
    display: none;
    z-index: 3;
}
.men li{
    border: 0.5px solid rgba(201, 200, 200, 0.336);
    padding: 10px 20px;
}
.men li a{
    font-weight: 300;
    font-size: 1.4rem;
    color:var(--bg-primario);
    text-transform: uppercase;
}
#men--mod{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#icoAngulo{
    cursor: pointer;
    margin-left:0.5rem;
}
.submen{
    width: 100%;
}
.submen li{
    border: none;
    padding-left: 0;
}
@media(min-width:992px){
    #icoAngulo{
        display: none;
    }
    .men{
        width: 100%;
        display: initial;
        position: initial;
        height: initial;
        box-shadow: none;
        background-color: transparent;
        grid-column: 2 / 4;
        grid-row: 2 / 3;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 1.2rem;
    }
    .men li{
        position: relative;
        display: inline-block;
        padding: 0;
        border: none;
    }
    #men--mod{
        display: initial;
    }
    .men a{
        display: block;
        text-align: center;
        font-weight: 300;
        line-height: 50px;
        color: var(--bg-white) !important;
        position: relative;
        opacity: 0.8;
        padding: 0 1.3rem;
    }
    .men a::before{
        content: "";
        display: block;
        background-color: var(--bg-white);
        position: absolute;
        left: 17%;
        top: calc(100% + -12px);
        width: 0;
        height: 2px;
        transition: all .5s;
    }
    .men a.selected::before,
    .men a:hover::before{
        width: 65%;
    }
    .men a:hover{
        opacity: 1;    
    }
    /*===== SUBMENÚ =====*/
    .submen{
        width: 20rem;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transition: opacity 2s;
        background-color: var(--bg-white);
    }
    .submen li{
        background-color: var(--bg-white);
        border-radius: none;
    }
    .submen li a{
        display: block;
        width: 19.99rem;
        text-align: initial;
        color: var(--bg-primario) !important;
        text-transform: uppercase;
        font-size: 1.4rem;
    }
    .men li:hover .submen{
        visibility: visible;
        opacity: 1;
    }
    .submen li a:hover{
        background-color: #eeeeee;
        font-weight: 500;
        border-radius: 0;
    }
    .submen a::before{
        content: none;
    }
}
@media(min-width:992px){
    .men li a{
        font-size: 1.3rem;
    }
}
/*======================
-> LOGO-MENU-RESPONSIVE
========================*/
.logo-menu-responsive{
    width: 30%;
    padding: 10px 20px;
}
@media(min-width:992px){
    .logo-menu-responsive{
        display: none;
    }
}
/*====================
-> MENSAJE
======================*/
.navegacion__mensaje{
    grid-column: 1 / 4;
    color:var(--bg-white);
    background-color:var(--bg-black-firstChildren);
    padding: 0.6rem 0;
    text-align: center;
    transition: background-color .5s;
    z-index: 1;
}
.navegacion__mensaje:hover{
    background-color: var(--bg-black-firstChildren-opacity);
}
.navegacion__mensaje p{
    font-weight: 300;
    font-size: 1.4rem;
    text-align: center;
    color: var(--bg-white);
}
@media(min-width:992px){
    .navegacion__mensaje{
        width: 100%;
        border: none;
        grid-row: 1 / 2;
        background-color: var(--bg-black-firstChildren);
        display: block;
        transition: background-color .6s;
    }
    .navegacion__mensaje:hover{
        background-color: var(--bg-black-firstChildren-opacity);
    }
}
.click{
    color: var(--bg-white);
    font-weight: 800;
    padding: 1rem;
    text-transform: uppercase;
    cursor: pointer;
}
.click--mod{
    position: relative;
}
.click--mod:after{
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0px;
    left: 11px;
    top: calc(100% + -8px);
    background-color: var(--bg-white);
    transition: all .4s;
}
.click--mod:hover::after{
    width: 60%;
}
.click a:hover{
    transform: scale(0.99);
}
.menu-active{
    display: block;
}
/*============================
-> BANNER
==============================*/
.banner{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}
.banner__logo{
    width: 15rem;
    z-index: 1;
}
.fondo{
    position: absolute;
    width: 100%;
    height: 99%;
    background-color: rgba(0, 0, 0, 0.712);
    z-index: -1;
}
@media(min-width:576px){
    .fondo{
        height: 99.5%;
    }
}
.banner__imagen{
    width: 100%;
    height: 55rem;
}
.banner-fondo{
    width: 100%;
    height: 100%;
    top:0;
    right: 0;
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.479);
}
.section-boton{
    width: 35rem;
    z-index: 1;
    margin-top: 2rem;
}
.banner__boton{
    padding: 1.5rem 0;
    border-radius: 0.3rem;
    border: 1px solid #ffffff9d;
    color: var(--bg-white);
    font-weight: 300;
    font-size: 1.3rem;
    text-transform: uppercase;
    box-shadow: inset -8px -5px 11px -5px rgb(0 0 0 / 70%);
    overflow: hidden;
    transition: background-color .4s;
}
.banner__boton:hover{
    transform: scale(0.99);
    opacity: 0.9;
    border: none;
    background-color: var(--bg-secundario);
}
@media(min-width:992px){
    .banner__boton{
        background-color: var(--bg-secundario);
        transition: background-color .3s;
    }
    .banner__boton:hover{
        background-color: #ff3752ab;
    }
}
/*===========================
-> FIJO
=============================*/
.fijo{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    z-index: 1500;
}
.fijo .logo, .fijo .menu{
    opacity: 0.9;
    background-color: var(--bg-secundario);
}
@media(min-width:992px){
    .fijo .logo{
        background-color: var(--bg-secundario);
    }
    .fijo .logo__imagen{
        animation-duration: 5s;
        animation-name: animLogo;
        animation-iteration-count: 1;
    }
    @keyframes animLogo{
        from {
            -webkit-transform: rotate(0deg);
            transform: rotateY(0deg);
        }
        50%{
            -webkit-transform: rotate(180deg);
            transform: rotateY(180deg);
        } to {
            -webkit-transform: rotate(360deg);
            transform: rotateY(360deg);
            }
    }
    .fijo .men{
        grid-row: 1 / 2;
        background-color: var(--bg-secundario);
        opacity: 0.9;
    }
    .fijo .men li{
        width: 18rem;
    }
    .fijo .men a{
        opacity: 1;
    }
    .fijo .men a:hover{
        background-color: var(--bg-primario);
        border-radius: 0.2rem;
        transition: all .6s;
        font-weight: 500;
    }
    .fijo .submen li a{
        padding: 0;
        margin-left:-1rem;
        padding-left: 0.5rem;
    }
    .fijo .submen li a:hover{
        background-color: #eeeeee;
    }
    .fijo .navegacion__mensaje{
        grid-row: 2 / 3;
        background-color: var(--bg-black-firstChildren);
        opacity: 1;
    }
    .fijo .navegacion__mensaje:hover{
        background-color: var(--bg-black-firstChildren-opacity);
    }
}
/*=============================
-> MAIN
===============================*/
.section-main{
    margin-top: 5rem;
}
/* -> SECTION-MAIN 1: PLANES */
.article-plan{
    box-shadow: 0px 10px 13px -7px #161616, 5px 5px 15px 5px rgba(0,0,0,0);
    margin: 0 5rem 2rem 5rem;
    border-radius: 0.2rem;
    border: 1px solid #d1d1d1e0;
}
.article-plan:hover{
    transform: scale(1.01);
    transition: all .1s;
    box-shadow: 0 2px 8px 2px #8a888867;
}
.contenedor__imagen{
    overflow: hidden;
}
.contenedor__imagen img:hover{
    transform: scale(1.1);
    transition: all .8s;
}
.figure-plan__figcaption{
    font-weight: 700;
    text-transform: uppercase;
    color: var(--bg-black-firstChildren-opacity);
    text-align: center;
    padding: 1rem 0;
}
.article-plan p{
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
}
@media(min-width:768px){
    .section-main:nth-child(1){
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3rem;
    }
    .section-main:nth-child(1) h2{
        grid-column: 1 / 3;
    }
    .article-plan{
        margin: 0;
    }
}
@media(min-width:992px){
    .article-plan{
        margin: 0 10rem;
    }
}
/* -> SECTION-MAIN 2 */
.entrada__contenido{
    line-height: 1.5;
    padding: 0rem 0 1rem 0;
}
.entrada__contenido p:first-child{
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 0.5rem;
    color: var(--bg-black-firstChildren-opacity)
}
@media(min-width:768px){
    .section-main:nth-child(2){
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        padding: 2rem 0;
    }
    .section-main:nth-child(2) h3{
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        padding-top: 0;
    }
    .section-main:nth-child(2) h2{
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        padding-top: 0;
    }
    .entrada__contenido{
        grid-column: 2 / 3;
        padding: 0;
    }
    .entrada__imagen{
        grid-column: 1 / 2;
        grid-row:  3 / 4;
    }
}

/* -> SECTION-MAIN 3 : TESTIMONIOS */
.figure-testimonio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media(min-width:640px){
    .figure-testimonio{
        display: initial;
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
}
.figure-testimonio__imagen{
    border-radius: 50%;
    width: 33.3%;
    padding: 3rem 0;
}
@media(min-width:640px){
    .figure-testimonio__imagen{
        border-radius: initial;
        width: 100%;
        padding: 0;
        padding-left: 0.5rem;
    }
}
@media(min-width:768px){
    .figure-testimonio__imagen{
        clip-path: circle(50% at 50% 50%);
        width: 70%;
        margin-left: 7rem;
        padding-left: 0;
    }
}
@media(min-width:900px){
    .figure-testimonio__imagen{
        margin-top: 3rem;
    }
}
@media(min-width:1200px){
    .figure-testimonio__imagen{
        width: 50%;
        margin-left: 15rem;
    }
}
.blockquote-texto{
    padding: 0 6rem 2rem 6rem;
    text-align: center;
}
@media(min-width:640px){
    .blockquote-texto{
        padding-top: 6rem;
    }
}
.figcaption-testimonio{
    text-align: center;
    margin-bottom: 4rem;
}
.ft-nombre{
    font-weight: 800;
    text-transform: uppercase;
    color: var(--bg-black-firstChildren);
}
.ft-distrito{
    font-weight: 500;
    color: var(--bg-black-firstChildren-opacity);
}
/* -> SECTION-MAIN 4: FORMULARIO */
.formulario{
    width: 40rem;
    border-radius: 0.5rem;
    padding: 2rem 1rem;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    font-family: var(--font-principal);
}
@media(min-width:576px){
    .formulario{
        width: 50rem;
    }
}
@media(min-width:992px){
    .formulario{
        width: 60rem;
    }
}
@media(min-width:1200px){
    .formulario{
        width: 40rem;
    }
}
.contenedor-campos{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1.2rem;
}
.campo:nth-child(1),
.campo:nth-child(2),
.campo:nth-child(3){
    grid-column: 1 / 3;
}
.campo:nth-child(4){
    grid-column: 1 / 3;
}
.campo:nth-child(5){
    grid-column: 1 / 3;
}
@media(min-width:992px){
    .campo:nth-child(1){
        grid-column: 1 / 2;
    }
    .campo:nth-child(2){
        grid-column: 2 / 3;
    }
    .campo:nth-child(3){
        grid-column: 1 / 2;
    }
    .campo:nth-child(4){
        grid-column: 2 / 3;
    }   
}
@media(min-width:1200px){
    .campo:nth-child(1),
    .campo:nth-child(2),
    .campo:nth-child(3),
    .campo:nth-child(4){
        grid-column: 1 / 3;
    }
}
.input-icon:hover, 
.formulario input[type="text"]:hover,
.formulario input[type="email"]:hover,
.formulario input[type="tel"]:hover,
.formulario textarea:hover{
    background: white;
    color: var(--bg-black-firstChildren-opacity);
    font-weight: 300;
    outline: unset;
    border-radius: 0.3rem;
    border: .323px solid #2f55742c;
}
.formulario input[type="text"],.input-text__email,input[type="tel"],textarea{
    width: 100%;
    background: #e5e6e77a;
    outline: unset;
    border: 1px solid #8a9597b7;
    border-radius: 0.3rem;
    color: #17191be0;
    font-weight: 300;
    font-size: 1.4;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 4rem;
}
.input-icon{
    position: relative;
    color: #2b313665;
}
.input-icon i{
    position: absolute;
    font-size: 2rem;
    left: 0;
    top: 0;
    padding: 2.5%;
}
@media(min-width:576px){
    .input-icon i{
        padding: 2%;
    }
}
@media(min-width:992px){
    .input-icon i{
        padding: 1.5%;
    }
    .bx--mod{
        padding: 3.1% !important;
    }
}
.select-text{
    width: 100%;
    background: #e5e6e77a;
    outline: unset;
    border: 1px solid #8a9597b7;
    border-radius: 0.3rem;
    padding: 1rem;
    color: #646566cc;
}
.select-text:hover{
    border-radius: 0.3rem;
    border: 1px solid #0f6fbe2c;
    background-color: var(--bg-white);
}
.boton-formulario{
    text-align: center;
    margin: 2rem auto;
}
.btn{
    position: relative;
    width: 70%;
    padding: 1.5rem;
    border-radius: 0.4rem;
    text-transform: uppercase;
    color: var(--bg-white);
    font-size: 1.7rem;
    overflow: hidden;
    transition: all 500ms ease;
    cursor: pointer;
    border: none;    
    background-color: var(--bg-secundario);
    box-shadow: inset -8px -5px 11px -5px rgb(0 0 0 / 61%);
    transition: background-color .5s;
}
.btn::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    background-color:var(--bg-secundario) ;
    transition: background-color 900ms ease;
}
.btn--mod:hover {
    animation: shadow-pulse 1500ms 1;
    background-color: var(--bg-primario);
    font-weight: 500;
    transform: scale(0.99);
    opacity: 0.8;
  }
@keyframes shadow-pulse {
    0% {
      box-shadow: 0 0 0 0 #aa2436af;
    }
    100% {
      box-shadow: 0 0 8px 16px rgba(32, 226, 215, 0);
    }
  }
.input-btn{
    position: relative;
}  
.bx-send{
    color: var(--bg-white);
    position: absolute;
    font-size: 2rem;
    left: 37%;
    top: 25%;
    transform: rotate(-46deg);
}
@media(min-width:576px){
    .bx-send{
        left: 39.5%;
    }
}
@media(min-width:992px){
    .bx-send{
        left: 41.5%;
    }
}
@media(min-width:1200px){
    .bx-send{
        left: 37%;
    }
}
/* -> SECTION-MAIN 5 :CAROUSEL */
.section-main:nth-child(5) h2 span{
    text-transform: lowercase;
}
.carousel__contenedor {
	position: relative;
}

.carousel__anterior,
.carousel__siguiente {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	border: none;
	top: calc(50% - 35px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background: none;
	color: #fff;
	opacity: 20%;
}
.carousel__anterior:hover,
.carousel__siguiente:hover {
	opacity: 100%;
}
.carousel__anterior {
	left: -5px;
    z-index: 2;
}
.carousel__siguiente {
	right: -5px;
}
.carousel__anterior i,.carousel__siguiente i{
	color: var(--bg-white);
    font-size: 3rem;
}
@media(min-width:768px){
    .carousel__anterior{
        left: -20px;
    }.carousel__siguiente{
        right: -20px;
    }
    .carousel__anterior i,.carousel__siguiente i{
        color: var(--bg-black-firstChildren-opacity);
        font-size: 3rem;
    }
}
.carousel__lista {
	overflow: hidden;
}
.carousel__elemento{
    margin: 0 0.2rem;
}
.carousel__elemento img{
    width: 100%;
}
.carousel__elemento p {
	text-align: center;
}
.carousel__indicadores{
    margin: 1rem auto;
}
.carousel__indicadores .glider-dot {
	display: block;
	width: 30px;
	height: 4px;
	opacity: .2;
	border-radius: 0;
    border: 2px solid #74797ab7;
}
.carousel__indicadores .glider-dot:hover {
	opacity: .5;
}
.carousel__indicadores .glider-dot.active {
	opacity: 1;
    background-color: var(--bg-black-firstChildren);
}

/*=============================
-> FOOTER
===============================*/
.footer{
    color: var(--bg-white);
}
.footer-informe{
    width: 100%;
    height: 45rem;
    position: relative;
    background-image: url(../img/fondo-footer.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media(min-width:482px){
    .footer-informe{
        height: 46rem;
    }
}
@media(min-width:576px){
    .footer-informe{
        height: 48rem;
    }
}
@media(min-width:712px){
    .footer-informe{
        height: 50rem;
    }
}
@media(min-width:768px){
    .footer-informe{
        height: 36rem;
    }
}
@media(min-width:992px){
    .footer-informe{
        height: 22rem;
    }
}
.fondo-footer{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.89);
    top: 0;
}
.campos-footer{
    padding: 2rem 0 0 0;
}
.logo-footer{
    text-align: center;
}
.logo-footer img{
    width: 20%;
    margin-left: 2rem;
}
.items-footer{
    text-align: center;
    margin-top: 1rem;
}
.items li{
    text-align: left;
    padding: 8px 16px;
    display: flex;
    align-items: center;
}
.items li i{
    font-size: 2.3rem;
    margin-right: 0.5rem;
}
.items li a{
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--bg-white);
}
.items--mod li a{
    text-transform: uppercase;
}
.items--mod li a:hover{
    font-weight: 500;
}
.campo-footer:last-of-type{
    width: 100%;
    display: block;
    border-top: 1px solid #63636363;
    margin-top: 1rem;
    padding: 0.5rem 0;
    text-align: center;
    font-weight: 300;
    font-size: 1.3rem;
    background-color: var(--bg-black);
}
.copyrigth a{
    color: var(--bg-white);
    font-weight: 600;
    
}
@media(min-width:768px){
    .logo-footer img{
        width: 15%;
        margin-left: 0;
    }
    .campos-footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .campo-footer:nth-child(1){
        text-align: center;
        display: flex;
        align-items: center;
        grid-column: 1 / 3;
        border-bottom: 1px solid #47474752;
        padding-bottom: 1rem;
    }
    .campo-footer:nth-child(3){
        grid-column: 2 / 3;
    }
    .campo-footer:nth-child(4){
        grid-column: 1 / 3;
    }
    .copyrigth a{
        font-size: 1.2rem;
    }
}
@media(min-width:992px){
    .logo-footer{
        text-align: left;
        padding-left: 10rem;
    }
    .logo-footer img{
        width: 22%;
    }
    .campos-footer{
       grid-template-columns: 1fr 1fr 1fr;
    }
    .campo-footer:nth-child(1){
        grid-column: 1 / 2;
        border-bottom: none;
    }
    .campo-footer:nth-child(3){
        grid-column: 3 / 4;
    }
    .campo-footer:nth-child(4){
        grid-column: 1 / 4;
    }
}