/*=========================================================
                        VARIABLES
===========================================================*/
:root{
    --bg-white: #ffffff;
    --bg-black: #1D1C1D;
    --bg-black-firstChildren: #36342f;
    --bg-black-firstChildren-opacity:#36342fd2;
    --bg-primario: #EE1D3A;
    --bg-secundario: #FF3753;
    --font-principal: 'Roboto', sans-serif;
}
/*=========================================================
                        RESET-GLOBAL
===========================================================*/
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    font-family: var(--font-principal);
}
.container{
    width: min(95%, 120rem);
    margin: 0 auto;
}
img{
    max-width: 100%;
    object-fit: cover;
}
/*=========================================================
                        HEADING
===========================================================*/



/*=========================================================
                        UTILIDADES
===========================================================*/
.m-0{
    margin: 0;
}
.p-0{
    padding: 0;
}
/*====================
-> NAV
======================*/
.nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    position: relative;
}
/*====================
-> LOGO
======================*/
.logo{
    grid-column: 1 / 3;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--bg-secundario);
    padding-right: 4rem;
}
.logo__imagen{
    width: 25%;
    padding: 0.5rem 0;
}
@media(min-width:576px){
    .logo{
        padding-right: 9rem;
    }
    .logo__imagen{
        width: 15%;
    }
}
@media(min-width:768px){
    .logo{
        grid-column:  1 / 2;
        position: relative;
        padding-right: 0;
        padding-left: 1rem;
        justify-content: flex-start;
    }
    .logo__imagen{
        width: 25%;
        padding: 0.3rem;
    }
}
@media(min-width:992px){
    .logo__imagen{
        width: 18%;
    }
}
@media(min-width:1200px){
    .logo__imagen{
        width: 15%;
    }
}
/*====================
-> BOTÓN MENÚ
======================*/
.menu{
    grid-column: 3 / 4;
    font-size: 3rem;
    color: var(--bg-white);
    background-color: var(--bg-secundario);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
    z-index: 2;
}
@media(min-width:768px){
    .menu{
        display: none;
    }
}
/*====================
-> MENÚ
======================*/
.men{
    position: fixed;
    width: 85%;
    height: 100vh;
    background-color: var(--bg-white);
    top: 0;
    box-shadow: inset -8px -5px 11px -5px rgb(0 0 0 / 60%);
    display: none;
    z-index: 2;
}
.men li{
    border: 0.5px solid rgba(201, 200, 200, 0.336);
    padding: 10px 20px;
}
.men li a{
    font-weight: 300;
    font-size: 1.4rem;
    color:var(--bg-primario);
    text-transform: uppercase;
}
#men--mod{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#icoAngulo{
    cursor: pointer;
    margin-left:0.5rem;
}
.submen{
    width: 100%;
}
.submen li{
    border: none;
    padding-left: 0;
}
@media(min-width:768px){
    #icoAngulo{
        display: none;
    }
    .men{
        width: 100%;
        display: initial;
        position: initial;
        height: initial;
        box-shadow: none;
        background-color: var(--bg-secundario);
        grid-column: 2 / 4;
        grid-row: 1 / 2;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 1.2rem;
    }
    .men li{
        position: relative;
        display: inline-block;
        padding: 0;
        border: none;
    }
    #men--mod{
        display: initial;
    }
    .men li a{
        display: block;
        width: 13rem;
        color: var(--bg-white);
        padding: 2rem 0.5rem;
        text-align: center;
        font-weight: 300;
        margin-right: 0.3rem;
    }
@media(min-width:992px){
    .men li a{
        font-size: 1.3rem;
    }
}
    .men li a:hover{
        background-color: var(--bg-primario);
        border-radius: 0.2rem;
        transition: all .6s;
    }
    /*===== SUBMENÚ =====*/
    .submen{
        width: 18rem;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transition: opacity 2s;
        background-color: var(--bg-white);
    }
    .submen li{
        background-color: var(--bg-white);
        border-radius: none;
    }
    .submen li a{
        display: block;
        width: 21rem;
        text-align: initial;
        color: var(--bg-primario);
        text-transform: uppercase;
        font-size: 1.4rem;
        padding: 1.5rem 0.2rem;
    }
    .men li:hover .submen{
        visibility: visible;
        opacity: 1;
    }
    .submen li a:hover{
        background-color: #eeeeee;
        font-weight: 500;
        border-radius: 0;
    }
}
/*======================
-> LOGO-MENU-RESPONSIVE
========================*/
.logo-menu-responsive{
    width: 30%;
    padding: 10px 20px;
}
@media(min-width:768px){
    .logo-menu-responsive{
        display: none;
    }
}
/*====================
-> MENSAJE
======================*/
.navegacion__mensaje{
    grid-column: 1 / 4;
    color:var(--bg-white);
    background-color:var(--bg-black-firstChildren);
    padding: 0.8rem 0;
    text-align: center;
    font-weight: 300;
    font-size: 1.4rem;
    transition: background-color .5s;
}
.navegacion__mensaje:hover{
    background-color: var(--bg-black-firstChildren-opacity);
}
@media(min-width:768px){
    .navegacion__mensaje{
        width: 100%;
        display: block;
        border: none;
    }
}
.click{
    color: var(--bg-white);
    font-weight: 800;
    padding: 1rem;
    text-transform: uppercase;
}
.click a:hover{
    transform: scale(0.99);
    opacity: 0.8;
}
.menu-active{
    display: block;
}
/*============================
-> BANNER
==============================*/
.banner{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}
.banner__logo{
    width: 30%;
    /* margin-top: rem; */
}
@media(min-width:576px){
    .banner__logo{
        width: 25%;
    }
}
@media(min-width:768px){
    .banner__logo{
        width: 20%;
        margin-top: -5rem;
    }   
}
@media(min-width:992px){
    .banner__logo{
        width: 15%;
        margin-top: -20rem;
    }
}
.banner__imagen{
    width: 100%;
    height: 55rem;
}
video{
    width: 100%;
}
.banner-fondo{
    width: 100%;
    height: 99%;
    top:0;
    right: 0;
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.616);
}
@media(min-width:576px){
    .banner-fondo{
        height: 99.3%;
    }
}
@media(min-width:768px){
    .banner-fondo{
        height: 99.5%;
    }
}
@media(min-width:992px){
    .banner-fondo{
        height: 99.5%;
    }
}
.banner__boton{
    display: inline-block;
    padding: 1.5rem;
    border-radius: 0.3rem;
    border: 1px solid var(--bg-primario);
    color: var(--bg-primario);
    font-weight: 300;
    box-shadow: inset -8px -5px 11px -5px rgb(0 0 0 / 61%);
    overflow: hidden;
    transition: background-color .4s;
    margin-top: 2rem;
    z-index: 1;
}
.banner__boton:hover{
    background-color: #EE1D3A;
    opacity: 0.6;
    transform: scale(0.99);
    color: var(--bg-white)
}
@media(min-width:768px){
    .banner__boton{
        margin-top: 2rem;
    }
}
/*===========================
-> FIJO
=============================*/
.fijo{
    position: fixed;
    top: 0;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    z-index: 1500;
}

/*=========================================================
                        FOOTER
===========================================================*/
