.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide .text {
  font-size: 14px;
  max-width: 40px;
  line-height: 1.3;
}
.swiper-button-next, .swiper-button-prev{
  color: rgba(53, 43, 43, 0.425) !important;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
  right: 20px !important;
  top: 40% !important;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
  left: 20px !important;
  top: 40% !important;
}
.swiper-pagination-bullet{
  background-color: grey !important;
  width: 14px !important;
  height: 14px !important;
  transition: all .4s !important;
}  
.swiper-pagination-bullet:hover{
  height: 17px !important;
  width: 17px !important;
}